.root {
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-font-family: "Segoe UI", sans-serif;
}

.main-panel-content {
    -fx-background-color: #2C3E50;
    -fx-text-fill: white;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-max-height: 15;
    -fx-max-width: 200;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.main-panel-content .viewport {
    -fx-background-color: transparent;
}