.root {
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-font-family: "Segoe UI", sans-serif;
}

.center {
    -fx-background-color: #2C3E50;
    -fx-padding: 50;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-max-height: 500;
    -fx-max-width: 500;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-alignment: CENTER;
}

.center .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}



.exit-btn {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-height: 20px;
    -fx-pref-width: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.exit-btn:hover {
    -fx-background-color: #F08080;
}