.main-panel {
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-font-family: "Segoe UI", sans-serif;
}

.nameBox {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 75;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.nameBox .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.warningBox {
    -fx-background-color: #FBF1EB;
    -fx-border-color: orange;
    -fx-border-width: 1;
    -fx-padding: 16;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.warningBox .label {
    -fx-text-fill: #F58220;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.nowaReceptaBox {
    -fx-background-color: #EDF3FA;
    -fx-border-color: blue;
    -fx-border-width: 1;
    -fx-padding: 16;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.nowaReceptaBox .label{
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.receptyBox {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 50;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}


.mainButtonBox {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 300;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.mainButtonBox .button {
    -fx-background-color: white;
    -fx-border-color: #F5F5F5;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-height: 75;
    -fx-pref-height: 75;
    -fx-max-height: 75;
    -fx-wrap-text: false;
    -fx-text-overrun: ellipsis;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.mainButtonBox .button:hover {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #D3D3D3;
    -fx-cursor: hand;
}

.wylogujBox {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 200;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.wylogujBox .button{
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-pref-height: 15px;
    -fx-pref-width: 300;
}

.wylogujBox .button:hover {
    -fx-background-color: #F08080;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-pref-height: 10px;
    -fx-pref-width: 300;
}
