.root {
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-font-family: "Segoe UI", sans-serif;
}

.title-pane .label{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.main-pane {
    -fx-background-color: #2C3E50;
    -fx-padding: 50;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-alignment: CENTER;
}

.main-pane .label{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.main-pane .text-field{
    -fx-background-color: #ECF0F1;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-pref-height: 50px;
    -fx-border-color: transparent;
}

.main-pane .text-field:focused{
    -fx-border-color: #2980B9;
    -fx-border-width: 2;
}

.exit-btn {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-height: 20px;
    -fx-pref-width: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.exit-btn:hover {
    -fx-background-color: #F08080;
}

.dalej-btn {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-height: 20px;
    -fx-pref-width: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.dalej-btn:hover {
    -fx-background-color: #3498DB;
}