.nowaWizyta-main-panel {
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-font-family: "Segoe UI", sans-serif;
}

.nowaWizyta-title-label {
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-font-family: "Segoe UI", sans-serif;
}

/*
    Panel centralny
 */
.nowaWizyta-selection {
    -fx-background-color: #2C3E50;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.nowaWizyta-selection .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI", sans-serif;
}

.nowaWizyta-selection .radio-button {
    -fx-background-color: #212F3D;
    -fx-border-color: #455A64;
    -fx-border-radius: 15;
    -fx-border-width: 1px;
    -fx-background-radius: 15;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-min-height: 50px;
}

.nowaWizyta-selection .radio-button .radio,
.nowaWizyta-selection .radio-button .radio .dot {
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.nowaWizyta-selection .radio-button:selected {
    -fx-background-color: black;
    -fx-background-radius: 15;
    -fx-text-fill: white;
}

/*
    Panel wybierania daty terminu
 */
.nowaWizyta-date {
    -fx-background-color: #2C3E50;
    -fx-pref-height: 100;
    -fx-max-height: 100;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.nowaWizyta-date-picker {
    -fx-background-color: white;
    -fx-pref-height: 30px;
}

.nowaWizyta-date-picker .text-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.nowaWizyta-date-picker .arrow-button {
    -fx-background-color: #4a90e2;
}

.nowaWizyta-date-picker .arrow-button:hover {
    -fx-background-color: #5aa0ff;
}

.nowaWizyta-date-picker .arrow {
    -fx-background-color: white;
}

.nowaWizyta-inner-box-date, .nowaWizyta-inner-box-lekarz {
    -fx-background-color: #3E5A72;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-padding: 10;
    -fx-border-insets: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

/*
    Panel dla wybioru lekarza
 */
.nowaWizyta-search-field2, .nowaWizyta-search-field1 {
    -fx-background-color: white;
    -fx-fill: white;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-pref-height: 150;
    -fx-border-radius: 15;
}

.nowaWizyta-lekarz{
    -fx-background-color: #2C3E50;
    -fx-pref-height: 400;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.nowaWizyta-my-search-icon {
    -fx-fill: white;
    -fx-glyph-size: 16px;
}

.nowaWizyta-my-user-icon,.nowaWizyta-calendar-icon {
    -fx-fill: white;
    -fx-glyph-size: 30px;
}

.nowaWizyta-dane-lekarza {
    -fx-pref-height: 150;
}

.nowaWizyta-dane-lekarza .label, .nowaWizyta-specjalnoscLabel, .nowaWizyta-wyborDatyLabel, .nowaWizyta-header-label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI", sans-serif;
}

/*
    Panel dolny
 */

.nowaWizyta-exit-btn {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-height: 20px;
    -fx-pref-width: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.nowaWizyta-exit-btn:hover {
    -fx-background-color: #F08080;
}

/*
    guziczki
 */
.nowaWizyta-acceptBtn1, .nowaWizyta-acceptBtn2, .nowaWizyta-accpetDateBtn {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-pref-height: 20px;
    -fx-pref-width: 150;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.nowaWizyta-acceptBtn1:hover, .nowaWizyta-acceptBtn2:hover, .nowaWizyta-accpetDateBtn:hover {
    -fx-background-color: #3498DB;
}


/*
    panele wyszukiwania
 */
.nowaWizyta-top-panel, .nowaWizyta-search-panel2 {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 75;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

/*
    dane informacyjne dla lekarza
 */
/* Styl dla całej tabeli wewnątrz panelu */
.nowaWizyta-tabela-lekarza {
    -fx-background-color: #2C3E50;
    -fx-border-color: #5D6D7E;
    -fx-border-insets: 20;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Nagłówki tabeli */
.nowaWizyta-header-label {
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-color: #5D6D7E;
    -fx-border-width: 0 1 1 0; /* Linia na dole i z prawej */
    -fx-max-width: 1000; /* Rozciąganie */
}

/* Komórki z danymi */
.nowaWizyta-cell-border {
    -fx-border-color: #5D6D7E;
    -fx-border-width: 0 1 0 0; /* Tylko linia pionowa z prawej */
    -fx-padding: 15;
}

/* Mniejsza czcionka dla danych i opisu */
.nowaWizyta-cell-border .label {
    -fx-text-fill: white;
    -fx-font-size: 14; /* Zmniejszone z 30 */
    -fx-font-family: "Segoe UI";
}

.padding-left {
    -fx-padding: 0 0 0 20;
}