
.root-panel {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.root-panel .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


.left-panel {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
    -fx-border-insets: 20;
    -fx-pref-height: 138;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.left-panel .button {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-padding: 30 0 30 0;
}

.left-panel .button:hover {
    -fx-background-color: #3E5A72;
    -fx-font-size: 20px;
}

.dolnyPanel {
    -fx-background-color: #2C3E50;
    -fx-padding: 16, 16, 8, 16;
    -fx-background-radius: 15;
    -fx-pref-height: 100;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.exit-btn {
    -fx-background-color: #C0392B;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-pref-height: 10px;
    -fx-pref-width: 300;
}

.exit-btn:hover {
    -fx-background-color: #F08080;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-pref-height: 10px;
    -fx-pref-width: 300;
}

.dolnyPanel .reset-btn{
    -fx-font-size: 20px;
    -fx-text-fill: #2980B9;
    -fx-font-weight: bold;
}

.dolnyPanel .reset-btn:hover {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}