.root {
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-font-family: "Segoe UI", sans-serif;
}

.daneGrid {
    -fx-background-color: #2C3E50;
    -fx-padding: 50;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-background-radius: 15;
    -fx-max-height: 300;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-alignment: CENTER;
}

.daneGrid .label{
    -fx-text-fill: white;
}

.kontaktGrid {
    -fx-background-color: #2C3E50;
    -fx-padding: 50;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-background-radius: 15;
    -fx-max-height: 300;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-alignment: CENTER;
}

.kontaktGrid .label{
    -fx-text-fill: white;
}