.root {
    -fx-background-color: linear-gradient(to bottom , white, #34495E);
    -fx-font-family: "Segoe UI", sans-serif;
}

.daneGrid {
    -fx-background-color: #2C3E50;
    -fx-padding: 50;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-background-radius: 15;
    -fx-max-height: 300;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
    -fx-alignment: CENTER;
}

.daneGrid .label{
    -fx-text-fill: white;
}

.Vkontakt {
    -fx-background-color: #2C3E50;
    -fx-padding: 30;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-background-radius: 15;
    -fx-max-height: 300;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 5);
}

.Vkontakt .button{
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.exit-btn {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.Vkontakt .label{
    -fx-text-fill: white;
}